@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Lockout";
}

<hgroup>
    <h1 class="text-danger">Lockout.</h1>
    <h2 class="text-danger">This account is locked out. Try next later.</h2>
</hgroup>
