[Bb]in/
[Oo]bj/
csx/ 
*.suo11
*.suo12
*.suo
/UpgradeLog.htm
*.user
TestResults/.*
*.DotSettings
[Dd]ebug/ 
.idea
FakesAssemblies 
packages/
node_modules/
*.Fakes.messages
FakesAssemblies/
obj
Solution/.vs/config/applicationhost.config
